{% extends 'base.html.twig' %}

{% block body %}
    <h2>Who are we ?</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos facilis fugit neque quia? Aliquam architecto assumenda autem consequuntur corporis dolore dolorum ducimus eligendi esse et eveniet fuga illo illum inventore ipsa iusto laudantium modi, mollitia nam natus nemo nobis, possimus ratione repellat reprehenderit sapiente tempore vel veniam veritatis vero voluptates?</p>

{% endblock %}

{% block title %}
    About us | {{parent()}}

{% endblock %}

