body {
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: 'BioRhyme', serif;

    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 0 10px;
}

header{
    padding: 1rem 0;
}

header h1{
    margin: 0 0 10px 0;
}
header a {
    text-decoration: none;
    color: inherit;
}

header nav a:hover {
    text-decoration: underline;
}
.header-logo {
    font-size: 3rem;
    font-weight: normal;
}
.header-logo img {
    max-width: 42px;
    margin-right: 5px;
}
.header-nav {
    display: flex;
}

.header-nav a{
    margin-right: 2rem;
}

main {
    flex: 1;
    padding: 1rem 0;
}

main a {
    text-decoration: none;
    color: #283618;
}
footer, header {
    background-color: #ADA996;
}

footer {
    padding: 2rem 0;
    text-align: center;
}

.team-members article {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}
.team-members article img {
    width: 210px;
    border-radius: 50%;
    margin: auto;
}

.alert {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    text-align: center;
    background-color: #283618;
}


label{
    display: block;
}

button {
    padding: 0.5rem 0.7rem;
    margin-top: 1rem;
    background-color: #ADA996;
    border-radius: 5px;
    border: #ADA996;
    font-family: inherit;
}


@media screen and (min-width: 680px) {
    .team-members article {
        flex-direction: row;
    }
    .team-members article:nth-child(odd) {
        flex-direction: row-reverse;
    }
    .team-members article img {
        margin-right: 20px;
    }
    .team-members article:nth-child(odd) img {
        margin-right: 0;
        margin-left: 20px;
    }
}