{% extends 'base.html.twig' %}

{% block title %}
    Create a new wish | {{ parent() }}

{% endblock %}

{% block body %}
    <div>
        {{ form_start(wishForm) }}

        {{ form_widget(wishForm) }}

        <button>Create !</button>

        {{ form_end(wishForm) }}
    </div>

{% endblock %}

