{% extends 'base.html.twig' %}


{% block body %}
    <h2>Oooopsy 404</h2>
    {#  
    <img src="{{ asset('img/giphy404.webp') }}" alt="error 404">
    #}
    <img src="{{ asset('img/giphy404_monster.webp') }}" alt="error 404">
{% endblock %}

{% block title %}
    Error 404
{% endblock %}