<nav class="header-nav">
        <a href="{{ path('main_home') }}" title="Home">Home</a>
        <a href="{{ path('wish_list') }}" title="All wishes">All wishes</a>
        <a href="{{ path('wish_create') }}" title="Make a wishes">Make a wish</a>
        <a href="{{ path('main_infos') }}" title="Infos">About us</a>
</nav>